* {
    font-family: 'Jost', sans-serif;
}

/* Sticky Header */
.header-section{
    position: sticky;
    top: 0;
    z-index: 200;
    background: #fff;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.1);
}

.icon{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: #000;
}
.categoryLink {
    text-decoration: none;
    color: #000000;
}

.menu-link {
    /* text-decoration: none;
    color: #000000; */
    font-size: 0.8rem;
}

.tab-link {
    /* text-decoration: none;
    color: #000000; */
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.menu-item{
    position: relative;
}
.submenu-wrapper{
    background: #fff;
    /* padding: 20px; */
    top: 40px;
    position: absolute;
}
 
.submenu-wrapper .heading ,.submenu-wrapper .footer{
    display: flex;
    /* flex-direction: column; */
    text-decoration: none;
    /* gap:1rem; */
    padding:15px;
    border-bottom:1px solid #f1f0f0;
    
}
.submenu-wrapper .heading p,.submenu-wrapper .footer p{
    text-transform: uppercase;
    font-weight: 600;
    width: 250px;
    margin: 0;
}
.submenu-wrapper .footer p{
    color: #ffa800;
}

.submenu-wrapper .submenus{
    padding:15px;
    display: flex;
}
.submenu-wrapper .submenus div{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap:1rem;
    width: 250px;

}
.HeaderSearchbar {
    outline: none;
    border: none;
    background: none;
    font-size: 10px;
    width: 250px;
}

.categoryContainer,
.productImageContainer,
.blogContainer {
    overflow: hidden;
    position: relative;
}

.categoryImage,
.productImage,
.blogImage {
    width: 100%;
    height: 100%;
    transition: .75s cubic-bezier(0, 0, .2, 1);
}

/* Scale up the image on hover */
.categoryContainer:hover .categoryImage,
.productImageContainer:hover .productImage,
.blogContainer:hover .blogImage {
    transform: scale(1.1);
    /* Increase the scale (e.g., 1.1 = 110% of original size) */
}

.categoryBottomSection {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.categoryTitleLink {
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
    background-color: #000;
    padding: 10px;
    width: 15rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.75rem;

}

.categoryTitleLink:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    box-shadow: 0 0 0 2px #fff;
}

.sectionHeading::after,
.sectionHeading::before {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 2px;
    background: #000;
}

.productImage {
    width: 100%;
    height: 100%;
    transition: .75s cubic-bezier(0, 0, .2, 1);
}

.productName {
    color: #000;
    text-decoration: none;
}

/* Product Name ,blog title color change */
.productName:hover,
.blog-data:hover {
    color: #ffa800
}

.productNewLabel {
    position: absolute;
    left: 1rem;
    /* right: 1rem; */
    top: 1rem;
    background: black !important;
    font-size: 0.7rem;
    color: white;
    padding: 0.2rem !important;
    width: 50px;
    border-radius: 11px;
    text-align: center
}

.multiCarouselItem {
    padding: 10px;
    min-height: 500px;
}

.actionButtonWrapper {
    position: absolute;
    bottom: 8rem;
    width: 100%;
    display: none;
}

.showProductAction {
    display: block !important;
}

/* Testimonial */
.testimonial {
    box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    -webkit-box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    -moz-box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    background: #ffffff;
    transition: transform 0.5s ease;
}

.testimonial-data {
    min-height: 300px;
}

.testimonial-job {
    border-top: 1px solid #eee;
    padding-top: 10px;
    font-weight: 500;
}

.testimonial:hover {
    transform: translateY(-20px);
}

/* Customize Link  */
.customize-link {
    text-decoration: none;
    color: #000;
}

/* Footer */
.footer-link {
    text-decoration: none;
    color: #fff;
}

.footer-link:hover {
    color: #ffa800;
}

/*Carousel Arrow */
.react-multi-carousel__arrow,
.react-multiple-carousel__arrow {
    background-color: transparent !important;
    outline: 1px solid #ffa800 !important;
    /* Use transparent for no background color */
}

.react-multi-carousel__arrow::before,
.react-multiple-carousel__arrow::before {
    color: #ffa800 !important;
}

/*Product listing page*/
.product-sorter {
    border: none !important;
    outline: none !important;
}

@media screen and (max-width:780px) {
    .header-section{
        position: relative;
        top: 0;
        background: #fff;
    }
    .icon{
        font-size: 1rem;
    }
    
}

/* Product Filter*/
/* ProductFilter.css */
/* ProductFilter.css */
/* Change the "after" button to a minus or plus sign in the Accordion header */
.accordion-button::after {
    content: "-" !important;
    background-image: none;
    background: none;
    border: none;
    box-shadow: none;
    /* If you want to change it to a plus sign when the Accordion is expanded, you can use the :not(.collapsed) selector */
  }
  
  .accordion-body{
    background: none;
    border: none;
    box-shadow: none;
  }
  /* Change the "after" button to a plus sign when the Accordion is expanded */
  .accordion-button:not(.collapsed)::after {
    content: "+" !important;
    background-image: none;

  }
  